{% extends "navbar.html" %} {% load static %} {% block body %}
<div class="container text-center">
    <div class="clearfix my-5">
        <img src="/media/course/1.jpg" class="col-md-6 float-md-end mb-3 ms-md-3 rounded" alt="..." style="height: 287px;width: 457px;">
        <h3 class="card-title">Created By</h3>
        <h4 class="card-title">Updated On</h4>
        <h5 class="card-title">Total Enrolleed Student</h5>
        <p>
            Rating:
        </p>
        <p>
            Language : Subtitke
        </p>
        <p>
            <strong>Description</strong> As you can see the paragraphs gracefully wrap around the floated image. Now
            imagine how this would look with
            some actual content in here, rather than just this boring placeholder text that goes on and on, but actually
            conveys no tangible information at. It simply takes up space and should not really be read.
        </p>

    </div>
</div>
<div class="container text-center">
    <!-- Instructor information -->
</div>
{% endblock body %}